/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    /* 
    if youre using unit, it will apply to all headings, and body. 
    if no units. it only just apply it to the body. 
    */
    line-height: 1.7;
}

/* body * {
    border: 1px solid magenta;
}  */

img {
    max-width: 100%;
    display: block;
}

.image-full {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 2em;
}

/* =================
Typography
================= */

h1, 
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    color: #1792d2;
}

a {
    color: #1792d2;
}

a:hover,
a:focus {
    color: #143774;
}

strong {
    font-weight: 700;
}

/* h1 subtitle */
.subtitle {
    margin: 0;
    color: #1792d2;
    font-weight: 700;
    font-size: .75rem;
    text-transform: uppercase;
}

.article-title {
    font-size: 1.5rem;
}

.article-read-more,
.article-info {
    font-size: .875rem;
}

.article-read-more {
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
    /* upping text styles */
    text-transform: uppercase;
    letter-spacing: 2px;
}

.article-read-more:hover,
.article-read-more:focus {
    color: #143774;
    text-decoration: underline;
}

.article-info {
    margin: 2em 0;
}

.widget-title,
.widget-recent-post-title {
    font-size: 1rem;
    line-height: 1.4;
}

.widget-recent-post-title {
    color: #143774;
}


.widget-title {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.article-info,
.widget-body {
    font-size: 0.875rem;
}

/* =================
Layout
================= */

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
    
}

footer {
    background:#143774;
    color: #89c9e0;
    text-align: center;
    padding: 3em 0;
}

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }
    
    main {
        width: 75%;
    }
    
    header {
        text-align: left;
    }
    aside {
        width: 20%;
        min-width: 200px;
        margin-left: 1em;
        /* solves the huge sidebar when lowering the screen size */
        /* min-width: 200px; */
    }
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
    /* upping text design */
    text-transform: uppercase;
    letter-spacing: 2px;  
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }

}

/* articles */

.article-featured {
    border-bottom: #707070 1px solid;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

@media (min-width: 675px) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 70%;
    }
    
    .article-recent-secondary {
        width: 25%;
    }

    .article-recent-secondary:nth-child(3) {
        object-position: left;
    }

    .article-featured {
        display: flex;
        flex-direction: column;
    }

    .article-image {
        order: -2;
        min-height: 250px;
        object-fit: cover;
    }

    .article-info {
        order: -1;
    }

    .article-image {
        width: 100%;
        min-height: 250px;  
        object-fit: cover;
        /* object-position: left; */
    }
}

/* widgets */

.sidebar-widget {
    border: 1em solid #EFEFEF;
    margin-bottom: 2em;
    padding: 1em;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
    margin-bottom: 1.5em;
}

.widget-recent-post:last-child {
    border: 0;
    margin: 0;
}

.widget-image {
    order: -1;
}

.widget-body {
    text-align: center;
}

.widget-recent-post-title {
    margin: 1em 0;
}

.about-me {
    display: none;
}

@media (min-width: 675px) {
    .about-me {
        display: block;
    }
   
}


